/*
 * 問題部分のcss
 */
.box {
  border: 1px solid black;
  padding: 10px;
  display: inline-block; /* 文字サイズに合わせる */
  width: 90%;
}

/* 
 * 問題Noと答えボタン
 */
.LineUp {
    display: flex;
    padding: 5px 0px 5px 0px;
}
.LineUp input{
    flex: 1;
    margin-left: 150px;
}

/*
 * buttonクラス内を横並びにする
 */
.button {
    display: flex;
    width: 100%;
}
.button input {
  /*buttonクラスのinputを同じ幅にする */
    flex: 1;
    padding: 10px;
}

.close {
  width: 100px;
}