.box {
  border: 1px solid black;
  padding: 10px;
  display: inline-block; /* 文字サイズに合わせる */
  width: 90%;
}
.button {
    display: flex;
    width: 100%;
}
.button input {
    flex: 1;
    padding: 10px;
}

